<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Logo</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
  <style>
    * {
      padding: 0;
      margin: 0;
    }

    body {
      background: #fff;
      font-family: 'Poppins', sans-serif;
    }

    p {
      font-size: 16px;
    }

    a {
      text-decoration: none;
    }
  </style>
</head>

<body>
  <div
    style="min-height: 100vh;min-width: 100vw;width: 100%; background: linear-gradient(21deg, #bc930008 18.31%, #bc93002b 70.73%, #bc93000e 96.73%); display: flex; justify-content: center;">
    <div style="max-width: 800px;width: 100%;margin: 20px;height: max-content;">
      <div style="background-color: white;">
        <div
          style="display: flex; justify-content: space-between; padding: 30px;border-bottom: 1px solid rgba(211, 211, 211, 0.234);flex-wrap: wrap; gap:20px;">
          <a href="#">
            LOGO
          </a>
          <div style="display: flex;gap:25px;">
            <a href="#" style="cursor: pointer;">
              fb
              <img src="'/images/Socialicon-FB.png'}" alt="" style="width: 25px;stroke: rgb(130, 91, 6))7)">
            </a>
            <a href="#" style="cursor: pointer;">
              twit
              <img src="'/images/Socialicon-Twitter.png'}" alt="" style="width: 25px;">
            </a>
            <a href="#" style="cursor: pointer;">
              insta
              <img src="'/images/Socialicon-Insta.png'}" alt="" style="width: 25px;">
            </a>
          </div>
        </div>
        <div style="padding: 30px;color: #03444F;display: flex; flex-direction: column; gap:20px;">
          {{{html ?? ''}}}
        </div>
      </div>
      <footer style="padding: 30px;display: flex;flex-direction: column;gap: 20px;">
        <p style="max-width: 400px"><span style="color: #00A5BF;">Logo</span> at the touch of a button!
          Download our app for Google & Mac.
        </p>
        <div>
          icons
        </div>
        <p style="color: #03444F;">©2023 Logo</p>
      </footer>
    </div>
  </div>
</body>

</html>